

/* font */
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.home-wrap {
  font-family: 'Lobster', cursive;
}
.navbar-brand  {
  font-family: 'Sail', cursive;
}
.title, .me-auto, .contact-btn, .email {
  font-family: 'Crimson Text', serif;
}
/* navbar */
a {
  text-decoration: none; 
}
.navbar-wrap {
  background-color: #fffeb7;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  font-weight: 600;
  font-size: 20px;
}


.me-auto {
  margin-right: 0!important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #fda2a2;
}

.navbar-light .navbar-brand{
  color: #ff8888;
  font-size: 22px;
}


.blank {
  height: 50px;
  width: 100%;
  background-color: white;
}

/* home */

.home-wrap {
  background-color: #fffeb7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 20px 70px 20px;
  font-size: 25px;
  font-weight: 600;
  color: #fda2a2;
}

.home-title {
  font-size: 40px;
  color: #ff8888;
  font-weight: 700;
  ;
}

.btn-primary:focus {
  background-color: white;
  color: #ff8888;
}

.contact-btn {
  border: 0px solid;
  margin: 20px;
  background-color: white;
  color: #ff8888;
}

.contact-btn:hover {
  background-color: #ffadad;
  color: white;
}

/* 공통 */

.title {
  text-align: center;
  border-bottom: 3px solid #ffdac7;
  font-weight: 600;
  font-size: 35px;
  color: #ff8888;
  margin: 10px 0 20px 0;
}

.wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
} 

/* skills */
.icon-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} 

.icon {
  height: 100px;
  margin: 10px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* contact */
.contact-wrap{
  background-color: #fffeb7;
  margin: 0;
}

.email{
  text-align: center;
  font-size: 40px;
  margin: 20px;
  font-weight: 700;
  color: black;
}
.contact-icons{
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-icon {
  height: 50px;
  margin: 0 10px;

  cursor: pointer;
}

.copyright {
  margin: 10px;
  font-size: 15px;
  color: #ffadad;
}
